<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 위치 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Wear OS 기능을 명시 -->
    <uses-feature android:name="android.hardware.type.watch"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wearable"
        tools:targetApi="31"
        android:banner="@drawable/banner"> <!-- 배너 이미지 추가 -->

        <!-- Wear OS 앱을 명시 -->
        <meta-data android:name="com.google.android.wearable.standalone"
            android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Wearable"
            android:taskAffinity=""> <!-- taskAffinity 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="com.google.android.wearable.intent.category.WEARABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
